@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
    /* display: flex; */
    background: url('./assets/styles/riaDecal.png'), linear-gradient(to bottom, rgb(204, 221, 185), #FFF);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
    color: #5c3738;
    width: 100vw;
    margin-right: 5px;
    overflow-x: hidden;
}

body p {
    font-family: 'Source Sans Pro', sans-serif;
}


.header-scroll {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    background: white;
    transition-duration: 0.3s;
}

.header-main {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    transition-duration: 0.3s;
}

.navBox {
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.custbtn {
    line-height: 50px;
    height: auto;
    text-align: center;
    max-width: 500px;
    cursor: pointer;
}


.navBtn {
    color: #5c3738;
    transition: all 0.3s;
    position: relative;
    padding: 5px;
    font-weight: bold;
    font-size: max(24px);

}

.navBtn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #5c3738;
    border-bottom-color: #5c3738;
    transform: scale(0.1, 1);
}

.navBtn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.navBtn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.navBtn:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


/* For active tabs */

.navBtn-active {
    color: #99d600;
    transition: all 0.3s;
    position: relative;
    padding: 5px;
    font-weight: bold;
    font-size: max(24px);

}

.navBtn-active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #5c3738;
    border-bottom-color: #5c3738;
    transform: scale(0.1, 1);
}

.navBtn-active:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.navBtn-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.navBtn-active:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.logo-container {
    justify-self: center;

}

.logo-container h1 {
    justify-self: center;
    font-size: 40px;
    color: #83ae33;

}

.logo-container-hide {
    display: none;
}


/* Mobile Logo */
.mobile-logo-container {
    display: none;
}


#logo {
    margin-top: 10px;
    max-width: 150px;
    transition: transform 0.3s;
}

#logo:hover {
    transform: scale(1.1);
}

#logo:active {
    transform: scale(0.7);
    opacity: 0.5;
}

.socials a {
    display: inline-block;
    width: 70px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    transition: transform 0.3s;
}

.socials a:hover {
    transform: scale(1.1);

}

.socials a:active {
    transform: scale(0.7);

}

.socials-footer a {
    display: inline-block;
    width: 40px;
    height: auto;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 2px;
    padding-left: 2px;
    transition: transform 0.3s;
}

.socials-footer a:hover {
    transform: scale(1.1);

}

.socials-footer a:active {
    transform: scale(0.7);

}


.book-btn {
    display: none;
    width: 100px;
    height: auto;
    position: fixed;
    right: 50%;
    margin-right: -170px;
    margin-bottom: 130px;
    padding: 5px;
    z-index: 500;
    bottom: 0;

}

.book-btn-hide {
    display: none;
}

.book-btn img {
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(73, 73, 73);
    -moz-box-shadow: 2px 2px 5px 0px rgb(73, 73, 73);
    box-shadow: 2px 2px 5px 0px rgb(73, 73, 73);
    transition: transform 0.3s;
}

.book-btn img:hover {
    transform: scale(1.1);
}

.book-btn img:active {
    transform: scale(0.7);
}

#phone {
    display: block;
    transition: transform 0.3s;
}

#phone:hover {
    transform: scale(1.1);
}

#phone p:hover {
    color: blue;
}

#phone:active {
    transform: scale(0.7);
}

#phone img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

#phone p {
    font-size: 24px;
    font-weight: bolder;
}

/* Navigation Breakpoint */

@media only screen and (max-width: 412px) {
    .header-scroll>* {
        scale: (0.7);
    }

    .navBox {
        display: none;
    }

    .logo-container {
        display: none;
    }

    .mobile-logo-container {
        display: flex;
        justify-content: flex-start;
    }

    .mobile-logo-container img {
        width: 100px;
        height: auto;
    }


    .socials a {
        display: none;
    }

    #phone {
        display: none;
    }

    /* #logo {
        max-width: 50px;
    } */

    .book-btn {
        display: block;
    }

    .book-btn-hide {
        display: none;
    }

}

/* --------------- Home Page ------------------- */

.slider-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

/* Info Card */

#ria-photo {
    width: 300px;
    height: 400px;
    margin: 6px;
    padding: 6px;
}


#location {
    width: 50%;
    height: auto;
    margin-top: 6px;
    margin-right: 6px;
    margin-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
}


/* --------------- Services Page ------------------- */
/* Service Boxes */
.service-card {
    display: flex;
    min-width: 200px;
    min-height: 200px;
    background-image: url("https://via.placeholder.com/150");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 3px;
    z-index: 1;
    transition: transform 0.3s;
}

.service-card h3 {
    position: absolute;
    color: white;
    transition-duration: 0.3s;
}

.service-card p {
    display: none;
    font-size: 12px;
    color: white;
    position: relative;
    transition: left 0.5s ease, top 0.5s ease;
}

.service-card:hover {
    z-index: 3;
    transform: scale(1.5);
}

.service-card:hover h3 {
    top: 0;
    left: 0;
    color: blue;
    padding-top: 10px;
    padding-left: 10px;
    transition-duration: 0.3s;
}

.service-card:hover p {
    display: block;
    inline-size: 150px;
    overflow-wrap: normal;
    justify-content: center;
    color: blue;
    padding-top: 10px;
    padding-left: 10px;
    transition-duration: 0.3s;
}

/* --------------FAQ--------------------- */

.faq-row-wrapper {
    height: 100vh;
    padding: 10px;
    margin: 5px;
}

.row-title {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c3738;
}

.row-content-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c3738;
}




/* /------------- Home -------------/ */

.home-slide {
    display: flex;
    justify-content: center;
    min-width: 100%;

    max-height: 400px;


}


/* /------------- Testimonials -------------/ */

.testimonial-slide {
    width: 100%;
    height: calc(100vw * 0.8);
}

@media only screen and (min-width: 500px) and (max-width: 1280px) {
    .testimonial-slide {
        height: calc(100vw * 0.6);
        max-height: 768px;
    }
}

@media only screen and (min-width: 1280px) {
    .testimonial-slide {
        height: 768px;
    }
}

.testimonial-slide.short {
    height: 300px;
}

.slide-img {
    width: 50%;
    height: auto;
}

.framed-carousel {
    border: 5px solid #eee;
    overflow: hidden;
    border-radius: 10px;
    will-change: transform;
    mask-image: -webkit-radial-gradient(white, black);
    box-sizing: border-box;
}

/* ------------- Home Slider(Banner) -------------- */
.slider-wrapper {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.slide {
    height: 70vh;
    background-size: cover !important;
}

.slide::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
}

.previousButton,
.nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
}

/* .previousButton:hover,
.nextButton:hover {
    background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px;
} */

.previousButton {
    left: 0;
    /* -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
    transform: rotate(180deg) translateY(calc(50% + 0px)); */
}

.previousButton:hover {
    left: -10px;
}

.nextButton {
    right: 0;
}

.nextButton:hover {
    right: -10px;
}

.slider-content {
    text-align: center;
}

.slider-content .inner {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider-content .inner button {
    background: white;
    padding: 20px;
    border-radius: 15px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.slider-content .inner h1 {
    font-weight: 900;
    margin: 0 auto;
    max-width: 840px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 1;
}

.slider-content .inner p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto 30px;
    max-width: 640px;
}

.slider-content section {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.slider-content section span {
    color: #FFFFFF;
}

.slider-content section span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    display: inline-block;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
    margin-left: 10px;
}

.slider-content section img {
    width: 40px;
    height: 40px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    vertical-align: middle;
}

.slider-content section span strong {
    color: #FFFFFF;
    font-size: 14px;
    display: block;
}

@media (max-height: 500px) {

    .slider-wrapper,
    .slide {
        height: calc(100vh - 75px);
    }
}

@media (max-width: 640px) {

    .slider-wrapper,
    .slide {
        height: calc(80vh - 75px);
    }
}

@media (max-height: 600px) {
    .slider-content .inner h1 {
        font-size: 32px;
    }
}

@media (max-width: 640px) {
    .slider-content .inner h1 {
        font-size: 32px;
    }
}

/* .footer {
    display: block;
} */

@media only screen and (max-width: 412px) {
    .footer {
        display: flex;
        justify-content: center;
    }

    .footer p {
        font-family: 'Lobster Two', cursive;
        ;
    }

    .socials-footer a {
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}